body{
    background-color: black;
    text-align: center;
}
h1{
    color: darksalmon;
    font-size: 1000%;
    font-weight: bold;
}

button{
    font-size: 2000%;
    margin-right: 10px;
    display:inline-block;
}
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
.w{
    background-image: url(images/tom1.png);
}
.a{
    background-image: url(images/dom2.png);
}
.s{
    background-image: url(images/tom4.png);
}
.d{
    background-image: url(images/tom1.png);
}
.j{
    width: 180px;
    background-image: url(images/snare.png);
}
.k{
    width: 180px;
    background-image: url(images/crash.png);
}
.l{
    width: 180px;
    background-image: url(images/kick.png);
}